table.viewordership{
    th:first-child{
        border-top-left-radius: 8px;
    }
    th:last-child{
        border-top-right-radius: 8px;
    }
    th{
        padding: 1rem 0;
        text-align: center!important;
        font-size: 20px;
        font-weight: 600;
        background-color: #d6d6d6!important;
        border: 2px solid #ffffff!important;
    }
    td{
        padding: 10px 0;
        font-size: 18px;
        border: 2px solid #d5d5d5!important;
        span{
            display: -webkit-box;
            max-width: 100%;
            margin: 0 auto;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space:  normal;
            text-overflow: ellipsis;
        }
        button{
            padding: 4px 1rem;
            border-radius: 4px;
            font-size: 18px;
            font-weight: 600;
            color: #ffffff;
            background-color: #f92626;
        }
    }
}

.ant-pagination.viewordership{
    display: flex;
    justify-content: right;
    padding-top: 1rem;
    text-align: right;
}