.image-preview {
  position: relative;
    border: 2px #ccc dashed;
    height: 150px;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ccc;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .delete-image{
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      font-size: 20px;
      &:hover{
        color: red;
        transition: all 0.5s;
        transform: scale(1)
      }
    }
}