.manage-user-container {
  padding: 10px;
  .user-content {
    .btn-add-new {
      margin: 15px 0;
      display: flex;
      justify-content: space-between;
      button {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 5px;
        gap: 5px;
      }
    }
  }

  .title {
    font-weight: 600;
    font-size: calc(1.3rem + .6vw);
  }
}

.modal-add-user {
  .img-preview {
    border: 2px #ccc dashed;
    height: 150px;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ccc;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.table-users-container{
  display: flex;
  flex-direction: column;
  // align-items: center;
}
.pagination-center{
  display: flex;
  justify-content: center;
}