button,
input, [tabindex] {
  outline: none;
  border: none;
}

[data-tippy-root]{
  // width: 100%;
  // transform: translate3d(134.45455px, 63.6364px, 0px);
  // display: flex;
  // justify-content: center;
}

.search {
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    overflow: hidden;
    position: relative;
    border: 1.5px solid transparent;
    width: 100%;
  
    input {
      font-size: 1rem;
      color: var(--black);
      // padding: 12px 16px;
      height: 100%;
      background-color: transparent;
      outline: none;
      flex: 1;
      caret-color: var(--primary-color);
      border: none;
      // position: relative;
    }
    &::after {
      content: '';
      position: absolute;
      top: var(--search-top-spacer);
      right: 52px;
      width: 1px;
      height: calc(var(--search-height) - var(--search-top-spacer) * 2);
      background: rgba(22, 24, 35, 0.12);
      z-index: 2;
    }
  
    &:focus-within {
      border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }
  
  .search-results {
    // width: 700px;
  }
  
  .search-title{
    margin: 0 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.75);
  }
  
  .clear,
  .loading {
    position: absolute;
    right: 53px;
    cursor: pointer;
  }
  
  .clear {
    color: rgba(22, 24, 35, 0.34);
  }
  
  .loading {
    color: rgba(22, 24, 35, 0.34);
    animation: spinner 1s infinite linear;
  }
  
  @keyframes spinner {
    from{
      transform: rotate(0);
    }to{
      transform: rotate(360deg);
    }
  }
  
  .search-btn {
    width: 52px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom-right-radius: 92px;
    border-top-right-radius: 92px;
    cursor: pointer;
    transition: 0.5s all;
    padding: 11px 16px 11px 12px;
    color: rgba(22, 24, 35, 0.34);
  
    &:hover {
      background-color: rgba(22, 24, 35, 0.03);
    }
  }
  