.manage-products-container {
    padding: 10px 30px;
  .btn-add-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .table-products-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
