.image-preview {
  border: 2px #ccc dashed;
  height: 150px;
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #ccc;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.row{
  padding: 0;
}