spring:
  datasource:
    url: jdbc:mysql://localhost:3333/myecommerce
    username: root
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

env-variable:
  api-url: http://localhost:8080

logging:
  level:
    org:
      springframework:
        web: DEBUG
      hibernate: ERROR
