server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://linkking-dbs.cb1wgmdgrbe9.ap-southeast-1.rds.amazonaws.com:3306/myecommerce
    username: admin
    password: ${DB_PASSWORD}
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
env-variable:
  url: https://5i5iavxp88.execute-api.ap-southeast-1.amazonaws.com/prod
