.manager__order{
    padding: 1rem;
    // color: #0a3b97;
    table{
        th:first-child{
            border-top-left-radius: 8px;
        }
        th:last-child{
            border-top-right-radius: 8px;
        }
        th{
            padding: 1rem 0;
            text-align: center!important;
            font-size: 20px;
            font-weight: 600;
            background-color: #d6d6d6!important;
            border: 2px solid #ffffff!important;
        }
        td{
            padding: 10px 0;
            font-size: 18px;
            border: 2px solid #d5d5d5!important;
            span{
                display: -webkit-box;
                max-width: 100%;
                margin: 0 auto;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                white-space:  normal;
                text-overflow: ellipsis;
            }
        }
        ul{
            // padding: 0rem 10px 0 10px;
            position: absolute;
            min-width: 200px;
            height: auto;
            top: 0;
            left: 0;
            border-radius: 5px;
            box-shadow: 0px 0px 3px 3px #d5d5d5;
            background-color: #fffefe;
            // li{
            //     padding: 5px 0;
            //     text-align: center;
            //     background-color: #bc9508;
            //     border-radius: 4px;
            //     margin-top: 0px;
            //     color: #ffffff;
            //     font-size: 18px;
            //     cursor: pointer;
            // }
        }
    }
    .ant-pagination{
        padding: 1rem 2rem;
        position: absolute;
        right: 0;
        .ant-pagination-item-active a{
            background-color: #d5d5d5;
            border: 2px solid #d5d5d5;
            color: #ffffff;
            font-size: 16px;
            height: 30px;
            width: 33px;
            text-align: center;
        }    
        .ant-pagination-item a{
            border: 2px solid #d5d5d5;
            font-size: 16px;
            color: #000000;
            height: 30px;
            width: 33px;
            text-align: center;
        }
        .ant-pagination-next, .ant-pagination-prev{
            border: 2px solid #d5d5d5;
        }
        .ant-select{
            display: none;
        }
    }
    .addOrder{
        background-color: #ffffff;
        position: fixed;
        top: 5%;
        border-radius: 8px;
        padding: 2rem;
        margin: 0 auto;
        height: 90%;
        z-index: 100;
        margin-right: 1rem;
        opacity: 1;
        h3{
            text-align: center!important;
            color: #f00c0c;
            align-items: center;
        }
        .addOrder__left{
            height: 100%;
            width: 40%;
            table{
                th{
                    padding: 1rem 1rem;    
                }
                td{
                    border: 1px solid #d5d5d5;
                    img{
                        max-height: 120px;
                        max-width: 150px;
                    }
                    i{
                        color: #f00c0c;
                    }
                    button{
                        padding: 5px 10px;
                        border-radius: 4px;
                        font-size: 18px;
                        font-weight: 500;
                        color: #ffffff;
                        background-color: #fcd849;
                    }
                }
            }
            .ant-pagination{
                padding: 1rem 2rem;
                position: absolute;
                left: 0;
            }
        }
        .addOrderRight{
            height: auto;
            width: 40%;
            .addOrderRight--container{
                width: 100%;
                &--item{
                    width: 100%;
                    table{
                        height: auto;
                        td{
                            img{
                                max-height: 50px;
                                max-height: 50px;
                            }
                        }
                    }
                    padding-bottom: 4rem;
                }
            }
            .addOrderRight--container--form{
                padding: 1rem 1rem;
                border: 2px solid #d5d5d5;
                .form--container--item{
                    padding-top: 5px;
                    padding-bottom: 10px;
                    span{
                        padding-bottom: 5px;
                        font-size: 18px;
                        font-weight: 500;
                    }
                    input{
                        box-shadow:0px 0px 0px 2px#ece9e9;
                        padding: 5px 10px ;
                        width: 100%;
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}

