<<<<<<< HEAD
.dropdown-header-admin{
    .dropdown-toggle::after {
        display: none !important; 
      }
}
=======
.dropdown-header-admin {
  & a {
    font-size: 16px !important;
  }
  .dropdown-toggle::after {
    display: none !important;
  }
}
>>>>>>> dev
