table.table_users{
    th:first-child{
        border-top-left-radius: 8px;
    }
    th:last-child{
        border-top-right-radius: 8px;
    }
    th{
        padding: 1rem 0 !important;
        text-align: center!important;
        font-size: 20px;
        font-weight: 600;
        background-color: #d6d6d6!important;
        border: 2px solid #ffffff!important;
    }
    td{
        padding: 10px 0;
        font-size: 18px;
        border: 2px solid #d5d5d5!important;
        span{
            display: -webkit-box;
            max-width: 100%;
            margin: 0 auto;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space:  normal;
            text-overflow: ellipsis;
        }
    }
    tr{
        &:hover{
            background-color: #d5d5d5;
            cursor: pointer;
        }
        background-color: #ffffff;
    }
    ul{
        padding: 0.5rem 10px;
        position: absolute;
        min-width: 200px;
        height: auto;
        top: 0;
        margin-left: -200px;
        border-radius: 5px;
        box-shadow: 0px 0px 3px 3px #d5d5d5;
        background-color: #fffefe;
        li{
            padding: 5px 0;
            text-align: center;
            background-color: #fcd849;
            border-radius: 4px;
            margin-top: 4px;
            color: #ffffff;
            font-size: 18px;
            cursor: pointer;
        }
    }
}
