    #login{
        height: auto;
        background-color: #f1f2f1;
    }

    .login__container, .register__container{
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        &--form{
            // max-height: 600px;
            max-width: 550px;
            width: 100%;
            height: auto;
            background-color: #ffffff;
            border-radius: 16px;
            padding: 0 56px 26px 56px;
        }
        img{
            height: 120px;
            width: 200px;
            display: flex;
            align-items: center;
            margin: 0 auto;
        }
    }


    form{
        h3{
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            // color: #e02f2f;
            color: #e02f2f;
            padding: 0px 0;
        }
        .ant-btn-default{
            width: 100%;
            height: 45px;
            border-radius: 8px;
            background-color:#e02f2f ;
            span{
                font-weight: 500;
                font-size: 20px;
                font-style: normal;
                color: #ffffff;
            }
        }
        .ant-btn-default:hover{
            color: #ffffff;
        }
        .ant-form-item{
            margin-bottom: 20px;
        }
        .ant-checkbox-inner{
            height: 20px;
            width: 20px;
            border: 1px solid #D4D4D9;
            border-radius: 4px;
        }

        .ant-checkbox-checked .ant-checkbox-inner{
            background-color: #034EA2;
            height: 20px;
            width: 20px;
            border-radius: 4px;
        }

        .ant-checkbox-wrapper:hover .ant-checkbox-checked .ant-checkbox-inner {
            background-color: #034EA2;
        }

        .ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
            display: none;
        }
    }

    .login__left--contains{
        display: flex;
        justify-content: space-between;
    }

    .login__left--contains--child a{
        font-size: 18px;
        font-weight: 450;
        color: #034EA2;
    }

    .login__left--contains--child a:hover{
        color: hsl(212, 82%, 44%);
    }

    .login__left--account{
        display: flex;
        padding: 10px 0;
        font-size: 18px;
        font-weight: 400;
        a{
            padding-left: 10px;
            color: #e02f2f;
            font-weight: 500;
            font-size: 18px;
        }
    }

    .login__left--difference{
        padding: 1rem 0;
        margin: 0 auto;
        display: block;
        justify-content: center;
        text-align: center;
        h5{
            font-size: 18px;
            font-weight: 450;
            color:#000000;
        }
        .left__difference--icon{
            margin: 0 10px;
            padding: 0 1rem;
            i.facebook{
                font-size: 34px;
                // background-color: #4267B2;
                color: #4267B2;
                padding: 0 10px;
            }
            i.twitter{
                font-size: 38px;
                padding-top: 5px;
                color: #1DA1F2;
                padding: 0 10px;
            }
            i.google{
                font-size: 38px;
                padding-top: 5px;
                color: #DB4437;
                padding: 0 10px;
            }
        }
    }

    .login__left--contains{
        padding: 0 0 1rem 0;
        input{
            height: 20px;
            width: 20px;
        }
        span{
            padding-left: 10px; 
            font-size: 16px;
            padding-top: -5px;
        }
    }

    .forgetpassword{
        position: fixed;
        top: 26%;
        z-index: 100;
        opacity: 1;
        left: 40%;

        .forgetPassword{
            background-color: #ffffff;
            min-height: 350px;
            max-width: 400px;
            border-radius: 6px;
            z-index: 1000;
            opacity: 1;
            padding: 2rem 20px;
            h3{
                text-align: center;
                color: #e02f2f;
                font-size: 20px;
                font-weight: 600;
            }
            p{
                text-align: center;
                font-size: 18px;
                color: #9e9e9e;
            }
            span{
                font-size: 17px;
                font-weight: 600;
            }
            input{
                margin-bottom: 10px;
                padding: 5px 10px;
                border-radius: 5px;
                border: 2px solid #d5d5d5;
                width: 100%;
            }
            button{
                padding: 10px 20px;
                border-radius: 8px;
                background-color: #e02f2f;
                color: #ffffff;
                font-size: 16px;
                font-weight: 600;
                display: flex;
                align-items: center;
                margin: 1rem auto;
            }
        }
    }

@media screen and (min-width: 600px) and (max-width:992px){
     #login{
        padding-top: 3rem;
     }
}
