section#cart{
  background-color: #f1f0f1;
}

.container__cart-slide{
  padding: 0 7%;
}
.container__cart{
  padding: 1rem 7%;

  &--title{
    padding: 1rem 0 0 0;
    display: flex;

    a{
      font-size: 26px;
      color: #d5d5d5;
      border-radius: 50%;
      color: #cb1e23;
    }
    i{
      padding: 8px 5px;
      font-size: 20px;
      color: #d5d5d5;
      border-radius: 50%;
      color: #d5d5d5;
    }
    p{
      padding: 8px 0px;
      font-size: 20px;
      color: #d5d5d5;
      border-radius: 50%;
      color: #cb1e23;
      font-weight: 500;
    }
    p:hover{
      padding: 8px 0px;
      font-size: 20px;
      color: #d5d5d5;
      border-radius: 50%;
      color: #cb1e23;
      font-weight: 500;
    }
  }
}

.container__cart--contain{
  h5{
    padding: 1rem 0;
    font-size: 24px;
    font-weight: 500;
  }

  .container__cart--contain--container{
    display: flex;
  }

  .container__cart--contain--container--item{
    tr{
      border: 2px solid #cb1e23;
      border-radius: 4px;
    }
    tr th{
      padding: 1rem;
      border: 2px solid #d5d5d5;
      background-color: #cb1e23;
      color: #ffffff;
      text-align: center;
    }
    tr td{
      border: 2px solid #d5d5d5;
      background-color: #fff;
      text-align: center;
    }
    tr td img{
      width: 100%;
      height: 50px;
    }

    tr td span{
      font-size: 18px;
      text-align: center;
      font-weight: 400;
      color: #000;
    }

    tr td p{
      font-size: 18px;
      text-align: center;
      font-weight: 400;
      color: #000;
      display: -webkit-box;
      max-width: 100%;
      margin: 0 auto;
      height: 25px;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space:  normal;
      text-overflow: ellipsis;
    }

    tr td div{
      display: flex;
      justify-content: center;
      align-items: center;
      button{
        max-height: 30px;
        width: 30px;
        margin: 0 auto;
        text-align: center;
        align-items: center; 
        border-radius: 3px;
        background-color: transparent;
        border: none;
        font-size: 18px;
        span{
          font-size: 22px;
          // padding: -5px 4px;
          font-weight: 600;
          color: #cb1e23;
        }
      }
    }

    tr td button.delete-item{
      border: none;
      background-color: transparent;
      color: #cb1e23;
      font-size: 24px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
  }
}

.contain--container--item--bill{
  padding: 1rem;
  background-color: #ffffff;
  border: 3px solid #d5d5d5;
  border-radius: 3px;

  p.title{
    font-size: 20px;
    font-weight: 600;
    color: #cb1e23;
    border-bottom: 3px solid #cb1e23;
  }

  span{
    font-size: 18px;
    font-weight: 500;
    color: #2b2a2b;
  }

  .contain--container--item--bill--child{
    display: flex;
    justify-content: space-between;
    p{
      font-size: 18px;
      font-weight: 500;
      color: #2e2c2c;
    }
    h4{
      color: #cb1e23;
      font-size: 20px;
      font-weight: 500;
    }
  }
  button.payment{
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    padding: 0.5rem 0;
    width: 100%;
    border: 2px solid #cb1e23;
    border-radius: 5px;
    background-color: #cb1e23;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
  }
}

.container__cart--slide--contain{
  background-color: #ffffff;
  border-radius: 5px;
  h1{
    padding: 1rem;
    font-size: 32px;
    font-weight: 500;
    color: #cb1e23;
  }

  .descript-slider--item{
    // background-color: #f1f0f1;
    height: auto;
    // box-shadow: 0px 0px 0px 3px #d5d5d5;
    border: 2px solid #d5d5d5;
    img{
      width: 100%;
      height: 100%;
      padding: 0.5rem;
    }
    p.name{
      padding: 5px 0 5px 1rem;
      font-size: 17px;
      font-weight: 400;
      color: var(--text-color);
      display: -webkit-box;
      max-width: 100%;
      margin: 0 auto;
      height: 40px;
      line-height: 1;
      text-align: left;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space:  normal;
      text-overflow: ellipsis;
    }
    p.price{
      padding: 5px 0 5px 1rem;
      font-size: 18px;
      font-weight: 400;
      color: #cb1e23;
      display: -webkit-box;
      max-width: 100%;
      margin: 0 auto;
      height: 40px;
      line-height: 1;
      text-align: left;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space:  normal;
      text-overflow: ellipsis;
    }
  }
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
  background:   #cb1e23;
}

.container__cart--contain--none{
  height: auto;
  width: 100%;
}

.container--cart--emty{
  height: 300px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  
  p{
    font-size: 18px;
    font-weight: 500;
  }
  button{
    padding: 0.5rem 2rem;
    border-radius: 8px;
    border: 2px solid #cb1e23;
    background-color: #cb1e23;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
}

.container__item--table{
  display: none;
}

.container__item--mobile{
  display: none;
}

// RESPONSIVE IN DESKTOP
@media screen and (min-width: 1200px) and (max-width:1400px){
  .catagory{
      padding: 1rem 1%;
  }
  .container__item--mobile{
    display: none;
  }
}

// RESPONSIVE IN DESKTOP
@media screen and (max-width: 1200px){
  .container__cart--contain .container__cart--contain--container--item tr th:nth-child(2) {
    border-top-left-radius: 8px!important;
  }
  .container__cart{
    padding: 1rem 3%;
  }
  .container__cart-slide{
    padding: 0 3%;
  }
}

// RESPONSIVE IN TABLET
@media screen and (min-width: 768px) and (max-width: 992px){
  .container__item--laptop{
    display: none;
  }
  .container__item--mobile{
    display: none;
  }

  .container__item--table{
    display: block;
  }
  .container__cart--contain .container__cart--contain--container--item tr th:nth-child(2) {
    border-top-left-radius: 8px!important;
  }
  .container__cart--contain--container{
    display: flex;
    flex-wrap: wrap;
    word-break: 2;
    word-wrap: 2;
  }

  tr th{
    width: auto;
  }
  tr td{
    width: auto;
  }
  .container__cart--contain--container--item{
    padding: 1rem 0 !important;
  }

  .table-wrapper{
    padding-bottom: 4rem!important;
  }
  .container__cart--title{
    padding: 3rem 0 0 0;
  }
}

// RESPONSIVE IN MOBILE
@media screen and (min-width: 600px) and (max-width: 768px){
  .container__cart--contain .container__cart--contain--container--item tr th:nth-child(2) {
    border-top-left-radius: 8px!important;
  }
  .container__cart--contain--container{
    display: flex;
    flex-wrap: wrap;
    word-break: 2;
    word-wrap: 2;
  }

  .table-wrapper{
    padding-bottom: 4rem!important;
  }

  .container__item--mobile{
    display: none;
  }
  .container__cart--contain--container--item{
    padding: 0 0 1rem 0 !important;
  }
  .container__cart--title{
    padding: 3rem 0 0 0;
    // margin-left: 1rem!important; 
  }
  tr th{
    width: auto;
  }
  // tr td{
  //   width: auto;
  // }

  tr td{
    width: auto;
    padding: 2rem 0;
    font-size: 18px;
    min-height: 150px;
  }

  tr td:first-child{
    display: none;
  }
  tr th:first-child{
    display: none;
  }

  .container__cart--contain h5{
    padding: 0 0 1rem 0;
  }
}

// RESPONSIVE IN SMALL MOBILE
@media screen and (max-width: 600px) {
  .container__cart{
    padding: 0 1%;
  }

  tr th{
    width: auto;
  }
  tr td{
    width: auto;
    padding: 2rem 0;
    font-size: 18px;
    min-height: 150px;
  }

   tr td:first-child{
    display: none;
  }
  tr th:first-child{
    display: none;
  }

  .container__cart-slide{
    padding: 0 1%;
  }
  .container__cart--contain--container{
    display: flex;
    flex-wrap: wrap;
    word-break: 2;
    word-wrap: 2;
  }
  .container__cart--contain--container--item{
    padding: 0 0 1rem 0 !important;
  }
  .container__cart--title{
    padding: 3rem 0 0 0;
    margin-left: 1rem;
  }

  .container__item--laptop{
    display: none;
  }
  .container__item--table{
    display: none;
  }

  .container__item--mobile{
    display: block;
    background-color: #ffffff;
  }

  
  .container__cart--contain h5{
    padding: 0 0 1rem 0 !important;
    margin-left: 1rem;
  }

  .container__cart--contain .container__cart--contain--container--item tr td p{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space:  normal;
    text-overflow: ellipsis;
  }

  .table-wrapper{
    padding: 1rem 0.5rem 0 0.5rem;
    padding-bottom: 4rem!important;
    background-color: transparent;
    table{
      padding: 0!important;
    }
  }

  .container__cart--contain .container__cart--contain--container--item tr th:nth-child(2) {
    border-top-left-radius: 8px!important;
  }
}