
:root {
    --background-color: #f1f0f1;
    --white-color: #ffff;
    --text-color: #504f4f;
    --primary-color: #e02f2f;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.row{
    // padding: 0 !important;
    margin: 0 !important;
}


