
:root {
    --background-color: #f1f0f1;
    --white-color: #ffff;
    --text-color: #504f4f;
    --primary-color: #e02f2f;
    --default-layout-header-height: 60px;
    --black: #000;
}

a{
    text-decoration: none;
    color: #d5d5d5; 
}

ul{
    list-style: none;
}

// .row{
//     padding: 0 !important;
//     margin: 0 !important;
// }

