section {
  padding: 0;
  margin: 0;
}
.headerTop {
  width: 100%;
  height: 3rem;
  background-image: url('../images/banner.jpg');
  background-repeat: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-position: center;
  position: relative;
}

.input__form__search {
//   width: 100%;
  max-width: 50%;
//   flex: 0 0 50%;
//   width: 50%;
}

.navbar {
  background-color: var(--background-color);
  width: 100%;
  padding: 0 7%;
  justify-content: space-around;
}

.navbar img {
  width: 200px;
  padding: 0;
  margin: 0;
  height: 100px;
}

.nav-item,
.nav-item a,
.nav__item,
.nav__item a {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  transition: 0.5s ease;
//   flex: 0 0 10%;
//   width: 10%;
}

.nav-item span.cart_icon {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  position: relative;
}
.nav__table--item span.cart_icon {
  font-size: 24px;
  font-weight: 600;
  color: #e02f2f;
  position: relative;
}

.nav-item span.cart_number {
  font-size: 16px;
  position: absolute;
  top: 25%;
  background-color: #fa2828;
  border-radius: 50%;
  margin-left: -2%;
  padding: 0px 5px;
  font-weight: 500;
  color: #fff;
}
.nav__table--item span.cart_number {
  font-size: 16px;
  position: absolute;
  top: 25%;
  background-color: #fa2828;
  border-radius: 50%;
  margin-left: -2%;
  padding: 0px 5px;
  font-weight: 500;
  color: #fff;
}

.nav-item a:hover,
p.menu-show:hover {
  color: var(--primary-color);
}

p.menu-show {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  padding: 0;
  margin: 0;
  transition: 0.5s ease;
}

// p.menu-show:hover  .nav-item ul.catagory{
//     display: block;
// }

.nav-item.account {
  position: relative;
  height: 150px;
  padding-top: 3.8rem;
//   display: flex;
//   justify-content: center;
//   flex: 0 0 5%;
//   width: 15%;
}

.nav-item.account:hover .account--profile {
  border-radius: 4px;
  box-shadow: 0px 0px 2px 2px #d2cfcf;
  display: block;
  position: absolute;
  top: 65%;
  min-width: 220px;
  width: 100%;
  height: auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #fff;
  z-index: 15;
  a li {
    padding: 5px;
    border-bottom: 2px solid #d5d5d5;
    span {
      padding-left: 10px;
      font-size: 18px;
    }
  }
  a:last-child li {
    border-bottom: none;
  }
}

.nav-item ul.catagory {
  display: none;
  position: absolute;
  // display: block;
  z-index: 1000;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 10px;
  border-radius: 2px solid #d5d5d5;
}

.account--profile {
  display: none;
}

.nav-item span {
  padding: 0 5px 6px 5px;
  font-size: 20px;
}

ul.catagory li.catagory-item {
  padding: 5px 20px;
  border: 2px solid #d5d5d5;
  border-radius: 3px;
  color: var(--text-color);
  transition: 0.4s ease;
}

ul.catagory li.catagory-item:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: 2px solid var(--primary-color);
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

.input__form__search--tablet {
  display: none;
}

.headerBottom {
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-color: var(--primary-color);
  padding: 0 7% !important;
}

.headerBottom__item {
  line-height: 60px;
  display: flex;
  font-size: 18px;
  color: #fff;
  font-weight: 500;

  span {
    margin-top: -2px;
    padding-right: 5px;
    font-size: 20px;
    font-weight: 500;
  }
}

.menu__tablet {
  display: none;
}

.d--none {
  transform: translateX(-100%);
}
//
@media screen and (min-width: 1200px) {
  .tablet__nav--item {
    display: none;
  }
  .nav__tablet {
    display: none;
  }
  .nav__table--item {
    display: none;
  }
}

// RESPONSIVE IN SREEN NORMAL
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .input__form__search {
    width: 35%;
  }
  .nav__tablet {
    display: none;
  }
  .nav__table--item {
    display: none;
  }

  .headerBottom a:last-child {
    display: none;
  }
}

// RESPONSIVE IN TABLET
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__tablet--item--child:first-child {
    // background-color: #e02f2f;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #e02f2f;
    img {
      width: 50%;
      height: 50%;
    }
    a {
      padding: 0;
    }
    .tablet--item--child {
      display: block;
    }
  }
  .nav-item {
    display: none;
  }
  .nav__tablet {
    display: block;
    font-size: 25px;
    font-family: 600;
    i {
      color: #e02f2f;
      // color: #e02f2f;
      font-size: 30px;
      font-weight: 600;
    }
  }
  .navbar {
    padding: 0 0rem;
    background-color: #f1f2f1;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 1rem 0;
    box-shadow: 0px 0px 2px 1px #a7a6a6;
  }
  .nav__table--item {
    display: block;
    a {
      font-size: 30px;
      font-weight: 500;
      color: #e02f2f;
      span {
        margin-right: 5px;
        // color: #e02f2f;
      }
    }
  }
  .headerBottom {
    display: none;
  }
  .menu__tablet {
    display: flex;
  }
  .menu__tablet--item--child {
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #d5d5d5;
    a {
      display: flex;
      font-size: 20px;
      color: #000000;
      padding: 10px 0 0 0;
      // font-size: 22px;
    }
    p {
      padding-top: 5px;
      padding-left: 10px;
      font-size: 20px;
    }
  }
  .menu__tablet--item {
    display: block;
    // transform: translateX(-100%);
    position: fixed;
    // position: absolute;
    top: 0;
    bottom: 0;
    width: 40%;
    z-index: 100;
    height: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    left: 0;
    background-color: #ffff;
    opacity: 1;
    padding: 1rem 1rem;
    .tablet--item--child {
      display: flex;
      font-size: 18px;
      // font-weight: 500;
      color: #000000;
      padding: 5px 0;
      span {
        font-size: 20px;
      }
      p {
        padding-top: 5px;
        padding-bottom: 0;
        padding-left: 10px;
        font-size: 18px;
      }
      img {
        height: 60%;
        width: 50%;
      }
    }
    &--child {
      display: flex;
      justify-content: space-between;
      i.closeIcon {
        padding-top: 10px;
        font-size: 24px;
        color: #000000;
      }
    }
  }
  .menu__tablet--overlay {
    width: 100%;
    background-color: #000000;
    opacity: 0.45;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
  }
  .input__form__search--tablet {
    display: none;
  }
}

// RESPONSIVE IN MOBILE
@media screen and (min-width: 600px) and (max-width: 768px) {
  .menu__tablet--item {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  .menu__tablet--item--child:first-child {
    // background-color: #e02f2f;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #e02f2f;
    img {
      width: 60%;
      height: 80%;
    }
    a {
      padding: 0;
    }
    .tablet--item--child {
      display: block;
    }
  }
  .tablet--item--child {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    padding: 10px 0;
    span {
      font-size: 18px;
    }
    p {
      padding-top: 5px;
      padding-left: 10px;
      font-weight: 18px;
    }
    img {
      width: 60%;
      height: 60%;
    }
  }
  .input__form__search--tablet {
    margin: 10px 0px;
    display: flex;
    height: 40px;
    width: 100%;
  }
  .nav-item {
    display: none;
  }
  .nav__tablet {
    display: block;
    font-size: 25px;
    font-family: 600;
    i {
      font-size: 25px;
      font-weight: 600;
      color: #e02f2f;
    }
  }
  .navbar {
    padding: 0 2rem;
    background-color: #f1f2f1;
    position: fixed;
    top: 0;
    z-index: 10;
    justify-content: space-between;
    box-shadow: 0px 0px 2px 1px #a7a6a6;
    img {
      margin: 0 auto;
      // max-width: 50%;
      height: 50px;
    }
  }
  .menu__tablet--item--child {
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #d5d5d5;
    a {
      display: flex;
      font-size: 20px;
      color: #000000;
      padding: 5px 0 0 0;
      // font-size: 22px;
    }
    p {
      padding-top: 5px;
      padding-left: 10px;
    }
  }
  .nav__table--item {
    display: block;
    a {
      font-size: 25px;
      font-weight: 600;
      color: #e02f2f;
      span {
        margin-right: 5px;
        // color: #e02f2f;
      }
    }
  }
  .headerBottom {
    display: none;
  }
  .menu__tablet {
    display: flex;
  }
  .menu__tablet--item {
    display: block;
    position: fixed;
    // position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 100;
    left: 0;
    background-color: #ffff;
    opacity: 1;
    padding: 1rem 1rem;
    .tablet--item--child {
      display: flex;
      // font-size: 20px;
      font-weight: 500;
      color: #000000;
      padding-bottom: 5px;
      span {
        font-size: 20px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        padding-top: 5px;
        padding-left: 10px;
      }
    }
    &--child {
      display: flex;
      justify-content: space-between;
      i.closeIcon {
        padding-top: 10px;
        font-size: 24px;
        color: #000000;
      }
    }
  }
  .menu__tablet--overlay {
    width: 100%;
    background-color: #000000;
    opacity: 0.45;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
  }

  .input__form__search {
    display: none;
  }
}

// RESPONSIVE IN SMALL MOBILE
@media screen and (max-width: 600px) {
  .menu__tablet--item {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }

  .tablet--item--child p.user-name{
    padding-top: 14px; 
  }
  .menu__tablet--item--child:first-child {
    // background-color: #e02f2f;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #e02f2f;
    img {
      width: 60%;
      height: 60%;
    }
    a {
      padding: 0;
    }
    .tablet--item--child {
      display: block;
    }
  }
  .nav-item {
    display: none;
  }
  .input__form__search--tablet {
    display: none;
  }
  .menu__tablet--item--child {
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #d5d5d5;
    a {
      display: flex;
      color: #000000;
      padding: 0px 0 0 0;
      font-size: 20px;
      i {
        padding-top: 7px;
      }
    }
    p {
      padding-top: 10px;
      padding-left: 10px;
    }
  }
  .nav__tablet {
    display: block;
    font-size: 20px;
    font-family: 600;
    i {
      font-size: 20px;
      font-weight: 600;
      color: #e02f2f;
    }
  }
  .navbar {
    background-color: #f1f2f1;
    position: fixed;
    top: 0;
    z-index: 10;
    justify-content: space-between;
    box-shadow: 0px 0px 2px 1px #a7a6a6;
    padding: 1rem 2rem;
    img {
      margin: 0 auto;
      height: 50px;
    }
  }
  .nav__table--item {
    display: block;
    a {
      font-size: 24px;
      font-weight: 600;
      color: #e02f2f;
      span {
        // margin-right: 5px;
        // color: #e02f2f;
      }
    }
  }
  .headerBottom {
    display: none;
  }
  .menu__tablet {
    display: flex;
    scroll-behavior: smooth;
  }
  .menu__tablet--item {
    display: block;
    position: fixed;
    // position: absolute;
    top: 0;
    bottom: 0;
    width: 85%;
    z-index: 100;
    left: 0;
    background-color: #ffff;
    opacity: 1;
    padding: 1rem 1rem;
    transition: 0.5s ease-in;
    .tablet--item--child {
      display: flex;
      font-size: 16px;
      font-weight: 400;
      color: #000000;
      // padding: 10px 0;
      padding: 0;
      span {
        font-size: 20px;
        padding-top: 5px;
      }
      p {
        padding-left: 10px;
        padding-bottom: 0;
      }
    }
    &--child {
      display: flex;
      justify-content: space-between;
      i.closeIcon {
        padding-top: 10px;
        font-size: 24px;
        color: #000000;
      }
    }
  }
  .menu__tablet--overlay {
    width: 100%;
    background-color: #000000;
    opacity: 0.45;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    // display: none;
  }

  .input__form__search {
    display: none;
  }
}

// @keyframes transition {
//     from {

//     }
// }
