.home {
  background-color: var(--background-color);
  height: auto;
  width: 100%;
}

.carousel__item {
  display: flex;
  height: auto;
  width: 150px;
  justify-content: space-between;
  margin-top: -100px;
  // top: 5%;
  z-index: 100;
  position: relative;
  padding: 3rem 0;
}

.carousel__item--child {
  padding: 0 20px;
  border-radius: 10px;
}

.carousel__item--child img {
  height: 150px;
  width: 280px;
  border-radius: 10px;
  transition: 0.4s ease;
}

.carousel__item--child img:hover {
  transform: scale(1.02);
}

.select-item {
  height: 90px;
  background-color: #fff;
  text-align: center;
  padding: 10px 0 15px 0;
}

.container--item {
  display: flex;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.container--item .active {
  background-color: var(--primary-color);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  color: var(--white-color);
}

.item__container img {
  width: 100%;
  padding: 0;
}

.item__container--child {
  border: 1px solid #d5d5d5;
}

.item__container--child img {
  width: 100%;
  padding: 0;
  object-fit: cover;
}

.item__container--child p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 10px 5px;
  color: var(--text-color);
}

.item__container--child span {
  padding: 0 5px;
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 400;
}

p.item--title-show {
  color: #0168fa;
  font-size: 18px;
  font-weight: 500;
  transition: 0.4s ease-in-out;
}

p.item--title-show:hover {
  text-decoration: underline;
  color: var(--text-color);
}

.container__item--child {
  display: flex;
  flex-wrap: wrap;
  word-wrap: 4;
}
.item--child--contains {
  padding: 1rem;
  // border-radius: 3px;
  // border: 1px solid #d5d5d5;
  // background-color: var(--background-color);
  transition: 0.4s ease-in;
}

.item--child--contains:hover {
  // padding: 1rem;
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  background-color: var(--background-color);
}

.child--contains--img {
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--background-color);
}

.child--contains--img img {
  width: 100%;
  // position: absolute;
  object-fit: cover;
  transition: 0.3s ease-in;
}

.child--contains--img img:hover {
  transform: scale(1.05);
}

.container__item {
  background-color: #fff;
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 6px #d5d5d5;
}

.item--child--contains h3 {
  padding: 10px 0;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  display: -webkit-box;
  max-width: 100%;
  height: 48px;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.child--contains--price {
  display: flex;
  justify-content: space-between;
}

.contains--price-pecent {
  background-image: url('../images/icon-saleoff.webp');
  height: auto;
  width: 60px;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
}

.contains--price-pecent p {
  position: absolute;
  top: 20%;
  left: 20%;
  color: var(--primary-color);
}

h4.contains--price-unit {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}

.child--contains--action {
  display: flex;
}

.child--contains--action button {
  height: 40px;
  width: 140px;
}

.contains--action--buy {
  border-radius: 3px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.contains--action--buy:hover {
  border: 2px solid #cc1f1f;
  background-color: #cc1f1f;
  color: #fff;
}

.contains--action-addcart {
  border-radius: 3px;
  border: 2px solid #d5d5d5;
  background-color: #fff;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.contains--action-addcart:hover {
  border: 2px solid #d5d5d5;
  background-color: #dadada;
  color: #000;
}
